#wgpt3 {
  width: 80%;
  margin: auto;
  padding: 4rem;
  background-color: #042c54;
  color: white;
}
.wgpt3-first-title {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 4rem;
}
.wgpt3-title {
  font-size: 1.5rem;
  font-weight: 800;
}
.wgpt3-paragraph {
  font-size: 1rem;
  font-weight: 500;
  margin-top: auto;
}
.possibility-headline {
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin: 5rem auto;
}
.wgpt3-paragraph {
  width: auto;
  padding: 0px;
}
.possibility-headline h1 {
  width: 35rem;
}

@media screen and (max-width: 1200px) {
  .possibility-headline {
    margin: 0.5rem auto 1rem;
  }
}
