.article-box {
  padding: 2rem;
}

.article-text {
  background-color: #042c54;
}

.article-box h3 {
  margin: 0.5rem auto 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.article-box h6 {
  font-size: 0.7rem;
  margin-top: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
