.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  margin: 10rem auto;
  /* justify-items: center; */
}
.features-headline {
  width: 25rem;
  margin-left: auto;
  display: grid;
  row-gap: 2rem;
  place-content: start;
}
.features-headline h1 {
  font-size: 2rem;
  font-weight: 800;
}
.feutures-column {
  width: 20rem;
}
