nav {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: auto;
  margin: auto;
}
.navbar-collapse {
  margin: auto;
  padding-left: 1rem;
}
.navbar {
  padding: 2rem;
  margin-right: auto;
}

.nav-link {
  color: #ffffffde;
}

.nav-link:hover {
  color: #ffffff;
}

.navbar__sign-section {
  margin-left: auto;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
  float: right;
}
.navbar__sign-section p {
  color: #ffffffde;
}
.navbar__sign-section p:hover {
  color: #ffffff;
}

.navbar__sign-section button {
  color: #ffffff;
  width: 10rem;
  height: 4rem;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  align-items: baseline;
}
