#home {
  margin: 0rem;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  justify-content: end;
}
.headline-text {
  padding: 3rem 4.3rem;
  grid-column: 1;
  grid-row: 1/5;
  display: grid;
  row-gap: 1rem;

  /* width: 20rem; */
}

.headline-text h1 {
  font-size: 62px;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: -0.04em;
  text-align: left;
}

.headline-text p {
  color: #81afdd;
  opacity: 70%;
  font-size: 1.3rem;
}
.form-control {
  color: white;
  background-color: #052d56;
  border: none;
  padding: 1.2rem;
}

.header__email-address button {
  width: 30%;
}
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.213);
}
.form-control:current {
  color: rgba(255, 255, 255, 0.213);
}
.header__email-address {
  display: flex;
  margin: 2rem 0rem;
}

.form-text {
  color: #fff !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 37.61px;
  text-align: left;
}
.form-text img {
  margin: 0 1rem 0 0;
}

@media screen and (max-width: 1200px) {
  .headline-text {
    padding: 0rem 0rem;
    width: AUTO;
  }

  .headline-text h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .headline-text p {
    color: #81afdd;
    opacity: 70%;
  }
  .form-control {
    color: white;
    background-color: #052d56;
    border: none;
    padding: 1.2rem;
  }

  .header__email-address button {
    width: 30%;
  }
  .form-control::placeholder {
    color: rgba(255, 255, 255, 0.213);
  }
  .form-control:current {
    color: rgba(255, 255, 255, 0.213);
  }
  .header__email-address {
    display: flex;
    margin: 2rem 0rem;
  }

  .form-text {
    color: #fff !important;
    font-size: 12px;
    font-weight: 500;
    line-height: 37.61px;
    text-align: left;
  }
  .form-text img {
    margin: 0 1rem 0 0;
  }
}
.emailList {
  display: grid;
  column-gap: 0;
  grid-template-columns: repeat(2, 1fr);
}
.emailList img {
  width: 12rem;
  grid-column: 1;
}
.emailList p {
  font-size: 0.8rem;
  color: white;
  grid-column: 2;
}

.header-img {
  grid-column: 2;
  grid-row: 1/5;
}
.header__ai-image {
  width: 40rem;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .header__ai-image {
    width: 80%;
    margin-left: auto;
  }
}
